@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

/* Navbar */
.navbar-container {
    background-color: Black;
    height: 67px !important;
}

.navbar {
    border: none !important;
}

.navbar-brand img {
    height: 20px;
}

.navbar-toggler {
    background-color: #dc3545;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

/* Header */
header {
    background-image: url('img/back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 10rem;
}

.img{
    max-width: 25%;
    max-height: 25%;
}

.tooltip{ 
    position:relative;
    float:right;
  }
  .tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
  .popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}
  
  /* .port{
    margin:100px auto; 
    height:1000px;
  } */
  .progress{
    border-radius:0;
    overflow:visible;
  }
  .progress-bar{
     background:rgb(23,44,60); 
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
  }
  .wH{
    margin-bottom: 68px !important;
    font-weight: 900;
    font-family: 'Staatliches', cursive;
}
.progressText{
    margin-bottom: 10px !important;

}

.wrapper{
	margin:50px auto;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 50px;
	box-shadow: 0 0 40px 2px rgba(37,73,214,0.18);

}

#portfoliore{
    padding-top: 10vh !important;
}


.section_4 .services h1 {
    font-family: var(--bungee);
    font-size: 2em;
    padding: 2em 0 0.6em 0;
  }
  .section_4 .services > p {
    font-size: 1em;
    font-family: var(--poppins);
  }
  .section_4 .services .cards {
    padding: 3em;
    padding-top: 0em;
  }
  .section_4 .services .cards i {
    padding: 1em;
  }
  .section_4 .services .cards h3 {
    font-family: var(--bungee);
  }
  .section_4 .services .cards > p {
    padding: 0.4em;
  }
  
  .section_4 .services .cards:first-child i,
  .cards:first-child h3 {
    color: var(--tomato-color);
  }
  .section_4 .services .cards:nth-child(2) i,
  .cards:nth-child(2) h3 {
    color: var(--lime-color);
  }
  .section_4 .services .cards:nth-child(3) i,
  .cards:nth-child(3) h3 {
    color: var(--megenta-color);
  }
  .section_4 {
    margin-bottom: 5em;
  }

  .ser{
    margin-bottom: 68px !important;
    font-weight: 900;
    font-family: 'Staatliches', cursive;
  }

  .row{
    margin-bottom: 40px;
     
}
.card{
    border-radius: 10px !important;
    cursor: pointer;
}

.lH{
    margin-bottom: 68px !important;
    font-weight: 900;
    font-family: 'Staatliches', cursive;
}

.contactuss{
    margin-bottom: 68px !important;
    font-weight: 900;
    font-family: 'Staatliches', cursive;
}
#paragraph{
    margin: 10px;
}

.rHv{
    margin-bottom: 68px !important;
    font-weight: 900;
    font-family: 'Staatliches', cursive;
}

#Services{
    padding-top: 10vh !important;
}

#project{
    padding-top: 10vh !important;
}

#Review{
    padding-top: 10vh !important;
}
#footerwrite{
    color: #fff;
    margin-left: 800px;
    
}

.form-group{
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.feature-box{
	padding: 30px;
}
.feature-box h2{
	
	/* color: #c200ff; */
    color: #fff;
    font-weight: bold;
}
.feature-box p{
	margin-top: 30px;
}
.feature-box a{
	text-decoration: none !important;
	background:#63ccff;
	border-radius: 20px;
	padding: 10px 20px;
	border: 2px solid #009be5;
	color: #fff;
	margin-left: 150px;
	margin-top: 10%;
}